<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task edit</title>
</head>
<body>
    <div th:if="${errors}">
        <h3>There are some errors:</h3>
        <ul>
            <li th:each="error : ${errors}" th:text="${error}"></li>
        </ul>
    </div>
    <form method="post" th:action="@{'/catalogue/tasks/' + ${taskId} + '/edit'}">
        <label>Title of task<br>
            <input type="text" name="title" th:value="${payload != null ? payload.title : task.title}"><br>
        </label>
        <label>Description<br>
            <input type="text" name="description" th:value="${payload != null ? payload.description : task.description}"><br>
        </label>
        <label>Status<br>
            <select name="status" th:value="${payload != null ? payload.status : task.status}">
                <option value="waiting">Waiting</option>
                <option value="inProgress">In progress</option>
                <option value="completed">Completed</option>
            </select><br>
        </label>
        <label>Priority<br>
            <select name="priority" th:value="${payload != null ? payload.priority : task.priority}">
                <option value="low">Low</option>
                <option value="middle">Middle</option>
                <option value="high">High</option>
            </select><br>
        </label>
        <label>Performer<br>
            <input type="text" name="performer" th:value="${payload != null ? payload.performer : task.performer}"><br>
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>